<h1>About</h1>
<p>STFU is a user-driven roleplaying game, meaning you the players create the content in a shared fictionality world.</p>

<p>Getting started is easy.</p>
<ul>
  <li>Sign up.</li>
  <li>Create one or more characters belonging to a fictional pro wrestling roster.</li>
  <li>Each week an event card is posted listing matches between involving two or more characters.</li>
  <li>Leading up to the event date users are responsible for posting roleplays for their respective character and match.</li>
  <li>The roleplays are then judged by an admin who writes a summary of the fictional match-up and posts results.</li>
</ul>