<header>
  <h1>STFU</h1>
  <nav>
    <%= link_to "Characters", characters_path  %> 
    <%= link_to "About", about_path %> 
    <%= link_to "Sign Up", new_user_path %> 
    <%= link_to "Sign In", new_session_path %>
  </nav>
</header>