<header>
  <h1>STFU</h1>
  <nav>
    <%= link_to "Characters", characters_path  %> 
    <%= link_to "About", about_path %> 
    <%= link_to "Sign Up", "#" %> 
    <%= link_to "Sign In", "#" %>
  </nav>
</header>